{% extends 'index.html' %}

{% block body %}
<div class="tile">
  <div class="content container has-text-centered">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-warning">
              <p class="subtitle is-underlined"><strong>Contact via E-Mail:</strong></p>
              <p class="subtitle has-text-link is-italic">
                <a href="mailto:someone@yoursite.com">
                  amir.akhmietzianov@gmail.com
                </a>
              </p>
            </article>
            <article class="tile is-child notification is-warning">
              <p class="subtitle is-underlined"><strong>Contact via Telegram:</strong></p>
              <p class="subtitle has-text-link is-italic">
                <a href="https://t.me/RecklessOtaku">
                  https://t.me/RecklessOtaku
                </a>
              </p>
            </article>
            <article class="tile is-child notification is-warning">
              <p class="subtitle is-underlined"><strong>See GitHub:</strong></p>
              <p class="subtitle has-text-link is-italic">
                <a href="https://github.com/RecklessOtaku">
                  https://github.com/RecklessOtaku
                </a>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>